{% extends 'layouts/auth.html.twig' %}

{% set pagetitle = 'title.sign_up'|trans %}
{% block title pagetitle %}

{% block content %}
    <h2>{{ 'title.sign_up_free'|trans }}</h1>
    <span></span>
    {{ component('registration', {class: 'mt-4', user: user.id is null ? null : user, form: form}) }}
{% endblock %}

{% block social %}
    {% include "global/_social-media.html.twig" %}
{% endblock %}
