{% extends 'layouts/auth.html.twig' %}

{% set pagetitle = 'title.reset_password'|trans %}
{% block title pagetitle %}

{% block content %}
    <h2>{{ pagetitle }}</h2>
    <span></span>
    {{ component('reset_password', {class: 'mt-4', user: user, form: form}) }}
{% endblock %}
