
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# Liés à l'IDE
.idea/
.code/

# Uploads avatars admins and users
/public/uploads/user/*
!/public/uploads/user/default.png

# Uploads post
/public/uploads/post/*
!/public/uploads/post/image.png

# Uploads homepage
/public/uploads/home/hero/*
!/public/uploads/home/hero/5d99d60e41207545475471.jpg // hero

# Uploads layout
/public/uploads/layout/*
!/public/uploads/layout/5ecac8821172a412596921.png // favicon
!/public/uploads/layout/5f626cc22a186068458664.png // Logo
!/public/uploads/layout/5faadc546e235285098877.jpg // OG

# Uploads categories
/public/uploads/categories/*

.php-version

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
