<div id="dashboard-sidenav" class="dashboard-sidenav d-lg-none d-xl-none">
    <a href="javascript:void(0)" class="dashboard-sidenav-close" onclick="closeDashboardSideNav()">&times;</a>
    <span class="dashboard-sidenav-username"><i class="bi bi-person fs-lg opacity-70 me-2"></i> {{ app.user.nickname }}</span>
    <ul class="nav nav-pills nav-pills-vertical-styled overflow-auto" >
        {% include "dashboard/sidebar-links.html.twig" %}
        <li class="nav-item">
            <a href="{{ path('auth_logout') }}" class="nav-link">
                <i class="bi bi-door-closed fs-lg opacity-70 me-2"></i> {{ "menu.logout"|trans }}
            </a>
        </li>
    </ul>
</div>
