{% for type, messages in app.flashes %}
    {% for message in messages %}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="alert alert-{{ type }}" role="alert">
            {{ message|raw }}
        </div>
    </div>
    {% endfor %}
{% endfor %}
