<!-- Review poll START -->
<div class="bg-light border p-3 rounded d-sm-flex align-items-center justify-content-between text-center mb-4">
    <!-- Title -->
    <h5 class="m-0">Was this review helpful?</h5>
    <small class="py-2 d-block">25 out of 78 found this helpful</small>
    <!-- Check buttons -->
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <!-- Yes button -->
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
        <label class="btn btn-outline-light btn-sm mb-0" for="btnradio1"><i class="far fa-thumbs-up me-1"></i> Yes</label>
        <!-- No button -->
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
        <label class="btn btn-outline-light btn-sm mb-0" for="btnradio2"> No <i class="far fa-thumbs-down ms-1"></i></label>
    </div>
</div>
<!-- Review poll END -->
