<span class="rating">
    {% for i in 1..5 %}
        {% if i <= rating %}
            <i class="bi bi-star-fill"></i>
        {% else %}
            <i class="bi bi-star"></i>
        {% endif %}
    {% endfor %}
</span>
