<hr>
<!-- Social-media btn -->
<div class="text-center">
    <p>{{ 'label.signin_social'|trans }}</p>
    <ul class="list-unstyled d-sm-flex mt-3 justify-content-center">
        <li class="mx-2">
            <a href="#" class="btn bg-facebook d-inline-block"><i class="fab fa-facebook-f me-2"></i> {{ 'action.signin_facebook'|trans }}</a>
        </li>
        <li class="mx-2">
            <a href="#" class="btn bg-google d-inline-block"><i class="fab fa-google me-2"></i> {{ 'action.signin_google'|trans }}</a>
        </li>
    </ul>
</div>
