{% extends 'layouts/page.html.twig' %}

{% set sectionClass = 'section-content padding-y bg-white' %}

{% set pagetitle = 'title.access_denied'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "current":(pagetitle) }] %}
    {% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h2 class="display-4 mb-4">{{ pagetitle }}</h2>
			{% include "global/_message.html.twig" with { type: "danger", message: ('message.access_denied'|trans), icon: "ai-circle-slash" } %}
		</div>
	</div>
{% endblock %}
