{% extends 'layouts/page.html.twig' %}

{% set sectionClass = 'section-content padding-y bg-white' %}

{% set pagetitle = page.title %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "current":(pagetitle) }] %}
    {% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card border-0 box">
				<div class="card-body">
					{{ page.content|raw|nl2br }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
