{% extends 'layouts/page.html.twig' %}

{% set sectionClass = 'pt-4 pb-0' %}

{% set pagetitle = page.title %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "current":(pagetitle) }] %}
    {% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-xl-9 mx-auto">
			<h2>{{ pagetitle }}</h2>
			<div class="lead">
				{{ page.content|raw|nl2br }}
			</p>
		</div>
	</div>

{% endblock %}
