{% extends 'layouts/blog.html.twig' %}

{% set sectionClass = 'single-post-content' %}
{% set class = 'post-content' %}

{% set pagetitle = 'title.comment_error'|trans %}
{% block title pagetitle %}

{% block content %}
	<h1 class="text-danger">{{ pagetitle }}</h1>
	<!-- ======= Comments Form ======= -->
	{{ include('comment/form.html.twig', { commentForm }) }}
	<!-- End Comments Form -->
{% endblock %}
