{% extends 'layouts/base.html.twig' %}

{% block layout %}{{ parent() }} page{% endblock %}

{% block body %}

    <section class="{{ sectionClass is defined ? sectionClass : '' }}">
        <div class="{{ getSetting("app_layout") }} {{ containerClass is defined ? containerClass : '' }}">
            {% block content %}{% endblock %}
        </div>
    </section>

{% endblock %}
