<header id="header" class="header d-flex align-items-center fixed-top">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        {% include "layouts/partials/_navbar.html.twig" %}
		<div class="position-relative">
			{% if getSetting("facebook_url") != "" or getSetting("instagram_url") != "" or getSetting("youtube_url") != "" or getSetting("twitter_url") != "" %}
				{% if getSetting("facebook_url") != "" %}
					<a href="{{ getSetting("facebook_url") }}" class="mx-2">
						<span class="bi-facebook"></span>
					</a>
				{% endif %}
				{% if getSetting("twitter_url") != "" %}
					<a href="{{ getSetting("twitter_url") }}" class="mx-2">
						<span class="bi-twitter"></span>
					</a>
				{% endif %}
				{% if getSetting("instagram_url") != "" %}
					<a href="{{ getSetting("instagram_url") }}" class="mx-2">
						<span class="bi-instagram"></span>
					</a>
				{% endif %}
			{% endif %}

			<a href="#" class="mx-2 js-search-open">
				<span class="bi-search"></span>
			</a>
			<i class="bi bi-list mobile-nav-toggle"></i>

			<!-- ======= Search Form ======= -->
			<div class="search-form-wrap js-search-form-wrap">
				<form action="search-result.html" class="search-form">
					<span class="icon bi-search"></span>
					<input type="text" placeholder="Search" class="form-control">
					<button class="btn js-search-close">
						<span class="bi-x"></span>
					</button>
				</form>
			</div>
			<!-- End Search Form -->

		</div>
	</div>
</header>
