{% extends 'layouts/blog.html.twig' %}

{% set sectionClass = 'position-relative pt-0' %}
{% set colLg3Class = 'mt-5 mt-lg-0' %}
{% set dataSticky = '767' %}

{% set pagetitle = 'title.all_categories'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{"current": (pagetitle)}] %}
    {% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}

    {% if categories|length > 0 %}
        <div class="row gy-4">
            {% for category in categories %}
                {% include "global/_category-card.html.twig" with {category: category, showdate: 1} %}
            {% endfor %}
        </div>
	{% else %}
		{% include "global/_message.html.twig" with { type: "info", message: ('category.no_categories'|trans), icon: "fas fa-exclamation" } %}
	{% endif %}

{% endblock %}
