{% extends 'layouts/dashboard.html.twig' %}

{% set pagetitle = 'title.administrator_blog_category_add'|trans %}
{% if category.id %}{% set pagetitle = 'title.administrator_blog_category_edit'|trans %}{% endif %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "dashboard_index": ('title.dashboard'|trans),  "dashboard_administrator_blog_category_index": ('title.administrator_blog_category_index'|trans), "current":(pagetitle) }] %}
    {% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card box form border-0 shadow">
        <div class="card-body">
            {% include "dashboard/administrator/category/_form.html.twig" with { action: pagetitle } %}
        </div>
    </div>
{% endblock %}
