/**
* Check out variables.css for easy customization of colors, typography, and other repetitive properties
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  color: rgba(var(--color-primary-rgb), 1);
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

#main {
  margin-top: 90px;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-header {
  border-bottom: 2px solid var(--color-black);
}

.section-header h2 {
  font-size: 50px;
  color: var(--color-black);
}

.section-header p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Page title
--------------------------------------------------------------*/
.page-title {
  font-size: 70px;
  color: var(--color-black);
}

/* Form Input Fieldds */
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--color-black);
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  background: #f2f2f2;
}

.header.sticked {
  height: 70px;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-default);
  font-family: var(--font-primary);
}

.search-form-wrap {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  transition: 0.3s all ease;
  visibility: hidden;
  opacity: 0;
}

.search-form-wrap .search-form {
  position: relative;
}

.search-form-wrap .search-form .form-control {
  width: 300px;
  border: none;
  box-shadow: 0 15px 20px -10px rgba(var(--color-black-rgb), 0.1);
  padding-left: 40px;
  padding-right: 40px;
}

.search-form-wrap .search-form .form-control:active,
.search-form-wrap .search-form .form-control:focus {
  outline: none;
  box-shadow: none;
}

.search-form-wrap .search-form .icon {
  position: absolute;
  left: 0;
  top: 7px;
  opacity: 0.5;
  left: 10px;
}

.search-form-wrap .search-form .btn {
  position: absolute;
  top: 2px;
  right: 4px;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 30px;
}

.search-form-wrap .search-form .btn:active,
.search-form-wrap .search-form .btn:focus {
  outline: none;
  box-shadow: none;
}

.search-form-wrap.active {
  visibility: visible;
  opacity: 1;
}

section {
  scroll-margin-top: 70px;
}

/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-default-rgb), 1);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-default);
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: var(--color-white);
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: var(--color-white);
    background: rgba(var(--color-primary-rgb), 0.8);
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-white);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  display: none;
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    padding: 0;
    z-index: 9997;
  }

  .navbar ul {
    display: none;
    position: absolute;
    inset: 55px 15px 15px 15px;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: var(--color-white);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    color: var(--color-primary);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background: var(--color-white);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 30px rgba(var(--color-black-rgb), 0.1);
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-toggle {
    display: inline-block;
    color: var(--color-secondary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-toggle.bi-x {
    color: var(--color-black);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    color: var(--color-white);
  }

  .mobile-nav-active .navbar {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(var(--color-black-rgb), 0.6);
    transition: 0.3s;
  }

  .mobile-nav-active .navbar>ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
.post-entry-1 {
  margin-bottom: 30px;
}

.post-entry-1 img {
  margin-bottom: 30px;
}

.post-entry-1 h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
}

.post-entry-1 h2 a {
  color: var(--color-black);
}

.post-entry-1.lg h2 {
  font-size: 40px;
  line-height: 1;
}

.post-meta {
  font-size: 11px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: rgba(var(--color-black-rgb), 0.4);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .custom-border {
    border: none !important;
  }
}

.author .photo {
  margin-right: 10px;
}

.author .photo img {
  width: 40px;
  border-radius: 50%;
  margin-bottom: 0;
}

.author .name h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: var(--font-secondary);
}

.trending {
  border: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.trending>h3 {
  color: var(--color-black);
  padding: 20px;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.trending .trending-post {
  padding: 0;
  margin: 0;
}

.trending .trending-post li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}

.trending .trending-post li a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
  position: relative;
  overflow: hidden;
}

.trending .trending-post li a .number {
  position: absolute;
  z-index: -1;
  font-size: 5rem;
  left: -10px;
  top: -20px;
  font-weight: 700;
  color: rgba(var(--color-black-rgb), 0.05);
}

.trending .trending-post li a h3 {
  font-size: 18px;
  color: rgba(var(--color-black-rgb), 0.9);
}

.trending .trending-post li a .author {
  color: rgba(var(--color-black-rgb), 0.7);
  font-weight: 500;
}

.trending .trending-post li a:hover h3 {
  color: rgba(var(--color-black-rgb), 1);
}

.trending .trending-post li:last-child a {
  border-bottom: none;
}

.post-entry-2 {
  margin-bottom: 30px;
}

.post-entry-2 .post-meta {
  font-size: 11px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: rgba(var(--color-black-rgb), 0.4);
  margin-bottom: 10px;
}

.post-entry-2 .author {
  color: rgba(var(--color-black-rgb), 0.7);
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

.post-entry-2 .thumbnail {
  flex: 0 0 65%;
}

@media (max-width: 960px) {
  .post-entry-2 .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.post-entry-2.half .thumbnail {
  flex: 0 0 50%;
}

@media (max-width: 768px) {
  .post-entry-2.half .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.post-entry-2.small-img .thumbnail {
  flex: 0 0 30%;
}

@media (max-width: 768px) {
  .post-entry-2.small-img .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.img-bg {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}

@media (max-width: 768px) {
  .img-bg {
    height: 400px;
  }
}

.img-bg:before {
  position: absolute;
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
}

.img-bg .img-bg-inner {
  position: relative;
  z-index: 2;
  max-width: 700px;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .img-bg .img-bg-inner {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }
}

.img-bg .img-bg-inner h2,
.img-bg .img-bg-inner p {
  color: var(--color-white);
}

@media (max-width: 500px) {
  .img-bg .img-bg-inner p {
    display: none;
  }
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

@media (max-width: 768px) {

  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    display: none;
  }
}

.custom-swiper-button-next span,
.custom-swiper-button-prev span {
  font-size: 20px;
  color: rgba(var(--color-white-rgb), 0.7);
  transition: 0.3s all ease;
}

.custom-swiper-button-next:hover span,
.custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
  color: rgba(var(--color-white-rgb), 1);
}

.custom-swiper-button-next {
  right: 40px;
}

.custom-swiper-button-prev {
  left: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(var(--color-white-rgb), 0.8);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(var(--color-white-rgb), 1);
}

.more {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.more:before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black);
}

.post-content {
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 768px) {
  .post-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.post-content .firstcharacter {
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.post-content figure {
  position: relative;
  left: 52%;
  min-width: 990px;
  transform: translateX(-50%);
}

@media (max-width: 1255px) {
  .post-content figure {
    min-width: auto;
    left: auto !important;
    transform: none;
  }
}

.post-content figure figcaption {
  font-family: var(--font-secondary);
  font-size: 14px;
  padding: 10px 0 0 0;
}

.aside-title,
.category-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--color-black);
}

.category-title {
  border-bottom: none;
}

.custom-pagination a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-family: var(--font-secondary);
  margin: 5px;
  transition: 0.3s all ease;
}

.custom-pagination a.active {
  background: var(--color-black);
  color: var(--color-white);
}

.custom-pagination a.active:hover {
  background: rgba(var(--color-black-rgb), 0.9);
}

.custom-pagination a:hover {
  background: rgba(var(--color-black-rgb), 0.1);
}

.custom-pagination a.prev,
.custom-pagination a.next {
  width: auto !important;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-pagination a.prev:hover,
.custom-pagination a.next:hover {
  background: rgba(var(--color-black-rgb), 0.1);
}

/* custom tab nav on sidebar */
.aside-block {
  margin-bottom: 30px;
}

.aside-block .custom-tab-nav .nav-item {
  display: inline-block;
}

.aside-block .custom-tab-nav .nav-item button {
  color: var(--color-black);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
}

.aside-block .custom-tab-nav .nav-item button.active {
  background-color: var(--color-black) !important;
  background-color: transparent !important;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

.link-video {
  position: relative;
}

.link-video span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  background-color: rgba(var(--color-black-rgb), 0.2);
  color: var(--color-white);
}

.aside-links li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.aside-links li a {
  display: block;
  color: rgba(var(--color-black-rgb), 0.7);
}

.aside-links li a:hover,
.aside-links li a:focus {
  color: rgba(var(--color-black-rgb), 1);
}

.aside-tags li {
  display: inline-block;
}

.aside-tags li a {
  display: inline-block;
  color: rgba(var(--color-black-rgb), 0.7);
  padding: 7px 10px;
  border: 1px solid rgba(var(--color-black-rgb), 0.1);
  margin-bottom: 3px;
  transition: 0.3s all ease;
}

.aside-tags li a:hover,
.aside-tags li a:focus {
  color: rgba(var(--color-black-rgb), 1);
  border: 1px solid rgba(var(--color-black-rgb), 0.5);
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comment {
  /* Font not working in <textarea> for this version of bs */
}

.comment .avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.comment .avatar-img,
.comment .avatar-initials,
.comment .avatar-placeholder {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.comment .avatar-img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.comment .avatar-initials {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  line-height: 0;
  background-color: rgba(var(--color-black-rgba), 0.1);
}

.comment .avatar-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(var(--color-black-rgba), 0.1) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='%23fff' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z'/%3e%3c/svg%3e") no-repeat center/1.75rem;
}

.comment .avatar-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 20%;
  display: block;
  background-color: rgba(var(--color-black-rgba), 0.1);
  border-radius: 50%;
}

.comment .avatar-group {
  display: inline-flex;
}

.comment .avatar-group .avatar+.avatar {
  margin-left: -0.75rem;
}

.comment .avatar-group .avatar:hover {
  z-index: 1;
}

.comment .avatar-sm,
.comment .avatar-group-sm>.avatar {
  width: 2.125rem;
  height: 2.125rem;
  font-size: 1rem;
}

.comment .avatar-sm .avatar-placeholder,
.comment .avatar-group-sm>.avatar .avatar-placeholder {
  background-size: 1.25rem;
}

.comment .avatar-group-sm>.avatar+.avatar {
  margin-left: -0.53125rem;
}

.comment .avatar-lg,
.comment .avatar-group-lg>.avatar {
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
}

.comment .avatar-lg .avatar-placeholder,
.comment .avatar-group-lg>.avatar .avatar-placeholder {
  background-size: 2.25rem;
}

.comment .avatar-group-lg>.avatar+.avatar {
  margin-left: -1rem;
}

.comment .avatar-light .avatar-indicator {
  box-shadow: 0 0 0 2px rgba(var(--color-white-rgba), 0.75);
}

.comment .avatar-group-light>.avatar {
  box-shadow: 0 0 0 2px rgba(var(--color-white-rgba), 0.75);
}

.comment .avatar-dark .avatar-indicator {
  box-shadow: 0 0 0 2px rgba(var(--color-black-rgba), 0.25);
}

.comment .avatar-group-dark>.avatar {
  box-shadow: 0 0 0 2px rgba(var(--color-black-rgba), 0.25);
}

.comment textarea {
  font-family: inherit;
}

.comment .comment-replies-title,
.comment .comment-title {
  text-transform: uppercase;
  color: var(--color-black) !important;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}

.comment .comment-meta .text-muted,
.comment .reply-meta .text-muted {
  font-family: var(--font-secondary);
  font-size: 12px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-item {
  text-align: center;
}

.contact .info-item i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: var(--color-primary);
}

.contact .info-item address,
.contact .info-item p {
  margin-bottom: 0;
}

.contact .info-item h3 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.contact .info-item a:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .contact .info-item-borders {
    border-left: 1px solid rgba(var(--color-secondary-rgb), 0.2);
    border-right: 1px solid rgba(var(--color-secondary-rgb), 0.2);
  }
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(var(--color-black-rgb), 0.1);
  padding: 30px;
  background: var(--color-white);
}

@media (max-width: 640px) {
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form .error-message {
  display: none;
  color: var(--color-white);
  background: var(--color-red);
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: var(--color-white);
  background: var(--color-green);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-green);
  border-top-color: var(--color-white);
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
  background-color: var(--color-primary);
}

.contact .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact .php-email-form button[type=submit]:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Shared
--------------------------------------------------------------*/
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  border-color: var(--color-cyan);
  background-color: var(--color-cyan);
  color: var(--color-white);
}

.btn-telegram:hover,
.btn-telegram:focus,
.btn-telegram:active {
  border-color: var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  overflow: hidden;
  background: rgba(var(--color-black-rgb), 0.9);
  font-size: 16px;
  color: rgba(var(--color-white-rgb), 0.7);
}

.footer .footer-content {
  padding: 60px 0;
}

.footer a.footer-link-more {
  color: rgba(var(--color-white-rgb), 0.7);
  display: inline-block;
  position: relative;
}

.footer a.footer-link-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-white);
}

.footer a.footer-link-more:hover {
  color: rgba(var(--color-white-rgb), 1);
}

.footer .footer-heading {
  color: var(--color-white);
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
}

.footer .footer-blog-entry li {
  margin-bottom: 20px;
  display: block;
}

.footer .footer-blog-entry li a .post-meta {
  font-size: 10px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-secondary);
  color: rgba(var(--color-white-rgb), 0.4);
  margin-bottom: 0px;
}

.footer .footer-blog-entry li a img {
  flex: 0 0 50px;
  width: 50px;
}

.footer .footer-links li {
  margin-bottom: 10px;
}

.footer .footer-links li a {
  color: rgba(var(--color-white-rgb), 0.7);
}

.footer .footer-links li a:hover,
.footer .footer-links li a:focus {
  color: rgba(var(--color-white-rgb), 1);
}

.footer .footer-legal {
  background: var(--color-black);
  padding: 40px 0;
}

.footer .footer-legal .social-links a {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--color-white-rgb), 0.09);
  border-radius: 50%;
  color: var(--color-white);
  line-height: 40px;
}

.footer .footer-legal .social-links a:hover {
  background-color: rgba(var(--color-white-rgb), 0.2);
}

.footer .copyright strong {
  font-weight: 400;
}

.footer .credits {
  padding-top: 6px;
  font-size: 13px;
}

.footer .credits a {
  color: var(--color-white);
}

/*--------------------------------------------------------------
# Dropzone
--------------------------------------------------------------*/
.dropzone-container {
  border: 1px solid var(--bs-gray-300) !important;
  border-radius: 0.375rem !important;
  height: 100%;
  padding: 0 !important;
  overflow: hidden;
}

.dropzone-container .dropzone-preview {
  height: 100%;
  width: 100%;
}

.dropzone-container .dropzone-preview .dropzone-preview-image {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
  max-width: unset;
  flex-basis: unset;
}

.dropzone-container .dropzone-preview .dropzone-preview-filename {
  display: none;
}

.user-avatar {
  height: 1.5em;
  width: 1.5em;
  object-fit: cover;
  border-radius: 50%;
}

.ratio-1x1 {
  aspect-ratio: 1/1;
}

.ratio-16x9 {
  aspect-ratio: 16/9;
}

.object-fit-cover {
  object-fit: cover;
}

img.ratio-1x1 {
  object-fit: cover;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.media {
  margin-bottom: 1rem;
}

textarea {
  resize: none;
}

/*--------------------------------------------------------------
# Auth login registration form
--------------------------------------------------------------*/
.auth .info-item {
  text-align: center;
}

.auth .info-item i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: var(--color-primary);
}

.auth .info-item address,
.auth .info-item p {
  margin-bottom: 0;
}

.auth .info-item h3 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.auth .info-item a:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .auth .info-item-borders {
    border-left: 1px solid rgba(var(--color-secondary-rgb), 0.2);
    border-right: 1px solid rgba(var(--color-secondary-rgb), 0.2);
  }
}

.auth .php-email-auth {
  box-shadow: 0 0 30px rgba(var(--color-black-rgb), 0.1);
  padding: 30px;
  background: var(--color-white);
}

@media (max-width: 640px) {
  .auth .php-email-auth {
    padding: 20px;
  }
}

.auth .php-email-auth .error-message {
  display: none;
  color: var(--color-white);
  background: var(--color-red);
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.auth .php-email-auth .error-message br+br {
  margin-top: 25px;
}

.auth .php-email-auth .sent-message {
  display: none;
  color: var(--color-white);
  background: var(--color-green);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.auth .php-email-auth .loading {
  display: none;
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

.auth .php-email-auth .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-green);
  border-top-color: var(--color-white);
  animation: animate-loading 1s linear infinite;
}

.auth .php-email-auth .form-group {
  margin-bottom: 20px;
}

.auth .php-email-auth input,
.auth .php-email-auth textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.auth .php-email-auth input::focus,
.auth .php-email-auth textarea::focus {
  background-color: var(--color-primary);
}

.auth .form-check-input:checked {
  padding: 0;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.auth .php-email-auth .form-check-input[type=checkbox] {
  padding: 0;
  border-color: var(--color-primary);
}

.auth .php-email-auth .form-check-input[type=checkbox] {
  float: left;
  margin-left: -1.5em;
}

.auth .php-email-auth .form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.auth .php-email-auth button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.auth .php-email-auth button[type=submit]:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Navigation Top
--------------------------------------------------------------*/
.single-post-content .navigation-top {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff;
}

.single-post-content .navigation-top p {
  margin-bottom: 0;
}

.single-post-content .navigation-top .like-info {
  font-size: 14px;
}

.single-post-content .navigation-top .like-info i,
.single-post-content .navigation-top .like-info span {
  font-size: 16px;
  margin-right: 5px;
}

.single-post-content .navigation-top .comment-count {
  font-size: 14px;
}

.single-post-content .navigation-top .comment-count i,
.single-post-content .navigation-top .comment-count span {
  font-size: 16px;
  margin-right: 5px;
}

.single-post-content .navigation-top .social-icons li {
  display: inline-block;
  margin-right: 15px;
}

.single-post-content .navigation-top .social-icons li:last-child {
  margin: 0;
}

.single-post-content .navigation-top .social-icons li i,
.single-post-content .navigation-top .social-icons li span {
  font-size: 14px;
  color: #999999;
}

.single-post-content .blog-author {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .single-post-content .blog-author {
    padding: 20px 8px;
  }
}

.single-post-content .blog-author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .single-post-content .blog-author img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
  }
}

.single-post-content .blog-author a {
  display: inline-block;
}

.single-post-content .blog-author a:hover {
  color: #ff656a;
}

.single-post-content .blog-author p {
  margin-bottom: 0;
  font-size: 15px;
}

.single-post-content .blog-author h4 {
  font-size: 16px;
}

.single-post-content .navigation-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px;
}

.single-post-content .navigation-area p {
  margin-bottom: 0px;
}

.single-post-content .navigation-area h4 {
  font-size: 18px;
  line-height: 25px;
}

.single-post-content .navigation-area .nav-left {
  text-align: left;
}

.single-post-content .navigation-area .nav-left .thumb {
  margin-right: 20px;
  background: #000;
}

.single-post-content .navigation-area .nav-left .thumb img {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single-post-content .navigation-area .nav-left .lnr {
  margin-left: 20px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single-post-content .navigation-area .nav-left:hover .lnr {
  opacity: 1;
}

.single-post-content .navigation-area .nav-left:hover .thumb img {
  opacity: .5;
}

@media (max-width: 767px) {
  .single-post-content .navigation-area .nav-left {
    margin-bottom: 30px;
  }
}

.single-post-content .navigation-area .nav-right {
  text-align: right;
}

.single-post-content .navigation-area .nav-right .thumb {
  margin-left: 20px;
  background: #000;
}

.single-post-content .navigation-area .nav-right .thumb img {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single-post-content .navigation-area .nav-right .lnr {
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single-post-content .navigation-area .nav-right:hover .lnr {
  opacity: 1;
}

.single-post-content .navigation-area .nav-right:hover .thumb img {
  opacity: .5;
}

/*--------------------------------------------------------------
# Language
--------------------------------------------------------------*/
.flag {
  width: 1.4666666667rem;
  height: 1.15rem;
  display: inline-block;
  background: no-repeat center/100% 100%;
  vertical-align: bottom;
  font-style: normal;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}
.flag-ad {
  background-image: url('../img/icons/flags/ad.svg');
}
.flag-ae {
  background-image: url('../img/icons/flags/ae.svg');
}
.flag-af {
  background-image: url('../img/icons/flags/af.svg');
}
.flag-ag {
  background-image: url('../img/icons/flags/ag.svg');
}
.flag-ai {
  background-image: url('../img/icons/flags/ai.svg');
}
.flag-al {
  background-image: url('../img/icons/flags/al.svg');
}
.flag-am {
  background-image: url('../img/icons/flags/am.svg');
}
.flag-ao {
  background-image: url('../img/icons/flags/ao.svg');
}
.flag-aq {
  background-image: url('../img/icons/flags/aq.svg');
}
.flag-ar {
  background-image: url('../img/icons/flags/ar.svg');
}
.flag-as {
  background-image: url('../img/icons/flags/as.svg');
}
.flag-at {
  background-image: url('../img/icons/flags/at.svg');
}
.flag-au {
  background-image: url('../img/icons/flags/au.svg');
}
.flag-aw {
  background-image: url('../img/icons/flags/aw.svg');
}
.flag-ax {
  background-image: url('../img/icons/flags/ax.svg');
}
.flag-az {
  background-image: url('../img/icons/flags/az.svg');
}
.flag-ba {
  background-image: url('../img/icons/flags/ba.svg');
}
.flag-bb {
  background-image: url('../img/icons/flags/bb.svg');
}
.flag-bd {
  background-image: url('../img/icons/flags/bd.svg');
}
.flag-be {
  background-image: url('../img/icons/flags/be.svg');
}
.flag-bf {
  background-image: url('../img/icons/flags/bf.svg');
}
.flag-bg {
  background-image: url('../img/icons/flags/bg.svg');
}
.flag-bh {
  background-image: url('../img/icons/flags/bh.svg');
}
.flag-bi {
  background-image: url('../img/icons/flags/bi.svg');
}
.flag-bj {
  background-image: url('../img/icons/flags/bj.svg');
}
.flag-bl {
  background-image: url('../img/icons/flags/bl.svg');
}
.flag-bm {
  background-image: url('../img/icons/flags/bm.svg');
}
.flag-bn {
  background-image: url('../img/icons/flags/bn.svg');
}
.flag-bo {
  background-image: url('../img/icons/flags/bo.svg');
}
.flag-bq {
  background-image: url('../img/icons/flags/bq.svg');
}
.flag-br {
  background-image: url('../img/icons/flags/br.svg');
}
.flag-bs {
  background-image: url('../img/icons/flags/bs.svg');
}
.flag-bt {
  background-image: url('../img/icons/flags/bt.svg');
}
.flag-bv {
  background-image: url('../img/icons/flags/bv.svg');
}
.flag-bw {
  background-image: url('../img/icons/flags/bw.svg');
}
.flag-by {
  background-image: url('../img/icons/flags/by.svg');
}
.flag-bz {
  background-image: url('../img/icons/flags/bz.svg');
}
.flag-ca {
  background-image: url('../img/icons/flags/ca.svg');
}
.flag-cc {
  background-image: url('../img/icons/flags/cc.svg');
}
.flag-cd {
  background-image: url('../img/icons/flags/cd.svg');
}
.flag-cf {
  background-image: url('../img/icons/flags/cf.svg');
}
.flag-cg {
  background-image: url('../img/icons/flags/cg.svg');
}
.flag-ch {
  background-image: url('../img/icons/flags/ch.svg');
}
.flag-ci {
  background-image: url('../img/icons/flags/ci.svg');
}
.flag-ck {
  background-image: url('../img/icons/flags/ck.svg');
}
.flag-cl {
  background-image: url('../img/icons/flags/cl.svg');
}
.flag-cm {
  background-image: url('../img/icons/flags/cm.svg');
}
.flag-cn {
  background-image: url('../img/icons/flags/cn.svg');
}
.flag-co {
  background-image: url('../img/icons/flags/co.svg');
}
.flag-cr {
  background-image: url('../img/icons/flags/cr.svg');
}
.flag-cu {
  background-image: url('../img/icons/flags/cu.svg');
}
.flag-cv {
  background-image: url('../img/icons/flags/cv.svg');
}
.flag-cw {
  background-image: url('../img/icons/flags/cw.svg');
}
.flag-cx {
  background-image: url('../img/icons/flags/cx.svg');
}
.flag-cy {
  background-image: url('../img/icons/flags/cy.svg');
}
.flag-cz {
  background-image: url('../img/icons/flags/cz.svg');
}
.flag-de {
  background-image: url('../img/icons/flags/de.svg');
}
.flag-dj {
  background-image: url('../img/icons/flags/dj.svg');
}
.flag-dk {
  background-image: url('../img/icons/flags/dk.svg');
}
.flag-dm {
  background-image: url('../img/icons/flags/dm.svg');
}
.flag-do {
  background-image: url('../img/icons/flags/do.svg');
}
.flag-dz {
  background-image: url('../img/icons/flags/dz.svg');
}
.flag-ec {
  background-image: url('../img/icons/flags/ec.svg');
}
.flag-ee {
  background-image: url('../img/icons/flags/ee.svg');
}
.flag-eg {
  background-image: url('../img/icons/flags/eg.svg');
}
.flag-eh {
  background-image: url('../img/icons/flags/eh.svg');
}
.flag-er {
  background-image: url('../img/icons/flags/er.svg');
}
.flag-es {
  background-image: url('../img/icons/flags/es.svg');
}
.flag-et {
  background-image: url('../img/icons/flags/et.svg');
}
.flag-eu {
  background-image: url('../img/icons/flags/eu.svg');
}
.flag-fi {
  background-image: url('../img/icons/flags/fi.svg');
}
.flag-fj {
  background-image: url('../img/icons/flags/fj.svg');
}
.flag-fk {
  background-image: url('../img/icons/flags/fk.svg');
}
.flag-fm {
  background-image: url('../img/icons/flags/fm.svg');
}
.flag-fo {
  background-image: url('../img/icons/flags/fo.svg');
}
.flag-fr {
  background-image: url('../img/icons/flags/fr.svg');
}
.flag-ga {
  background-image: url('../img/icons/flags/ga.svg');
}
.flag-gb-eng {
  background-image: url('../img/icons/flags/gb-eng.svg');
}
.flag-gb-nir {
  background-image: url('../img/icons/flags/gb-nir.svg');
}
.flag-gb-sct {
  background-image: url('../img/icons/flags/gb-sct.svg');
}
.flag-gb-wls {
  background-image: url('../img/icons/flags/gb-wls.svg');
}
.flag-gb {
  background-image: url('../img/icons/flags/gb.svg');
}
.flag-gd {
  background-image: url('../img/icons/flags/gd.svg');
}
.flag-ge {
  background-image: url('../img/icons/flags/ge.svg');
}
.flag-gf {
  background-image: url('../img/icons/flags/gf.svg');
}
.flag-gg {
  background-image: url('../img/icons/flags/gg.svg');
}
.flag-gh {
  background-image: url('../img/icons/flags/gh.svg');
}
.flag-gi {
  background-image: url('../img/icons/flags/gi.svg');
}
.flag-gl {
  background-image: url('../img/icons/flags/gl.svg');
}
.flag-gm {
  background-image: url('../img/icons/flags/gm.svg');
}
.flag-gn {
  background-image: url('../img/icons/flags/gn.svg');
}
.flag-gp {
  background-image: url('../img/icons/flags/gp.svg');
}
.flag-gq {
  background-image: url('../img/icons/flags/gq.svg');
}
.flag-gr {
  background-image: url('../img/icons/flags/gr.svg');
}
.flag-gs {
  background-image: url('../img/icons/flags/gs.svg');
}
.flag-gt {
  background-image: url('../img/icons/flags/gt.svg');
}
.flag-gu {
  background-image: url('../img/icons/flags/gu.svg');
}
.flag-gw {
  background-image: url('../img/icons/flags/gw.svg');
}
.flag-gy {
  background-image: url('../img/icons/flags/gy.svg');
}
.flag-hk {
  background-image: url('../img/icons/flags/hk.svg');
}
.flag-hm {
  background-image: url('../img/icons/flags/hm.svg');
}
.flag-hn {
  background-image: url('../img/icons/flags/hn.svg');
}
.flag-hr {
  background-image: url('../img/icons/flags/hr.svg');
}
.flag-ht {
  background-image: url('../img/icons/flags/ht.svg');
}
.flag-hu {
  background-image: url('../img/icons/flags/hu.svg');
}
.flag-id {
  background-image: url('../img/icons/flags/id.svg');
}
.flag-ie {
  background-image: url('../img/icons/flags/ie.svg');
}
.flag-il {
  background-image: url('../img/icons/flags/il.svg');
}
.flag-im {
  background-image: url('../img/icons/flags/im.svg');
}
.flag-in {
  background-image: url('../img/icons/flags/in.svg');
}
.flag-io {
  background-image: url('../img/icons/flags/io.svg');
}
.flag-iq {
  background-image: url('../img/icons/flags/iq.svg');
}
.flag-ir {
  background-image: url('../img/icons/flags/ir.svg');
}
.flag-is {
  background-image: url('../img/icons/flags/is.svg');
}
.flag-it {
  background-image: url('../img/icons/flags/it.svg');
}
.flag-je {
  background-image: url('../img/icons/flags/je.svg');
}
.flag-jm {
  background-image: url('../img/icons/flags/jm.svg');
}
.flag-jo {
  background-image: url('../img/icons/flags/jo.svg');
}
.flag-jp {
  background-image: url('../img/icons/flags/jp.svg');
}
.flag-ke {
  background-image: url('../img/icons/flags/ke.svg');
}
.flag-kg {
  background-image: url('../img/icons/flags/kg.svg');
}
.flag-kh {
  background-image: url('../img/icons/flags/kh.svg');
}
.flag-ki {
  background-image: url('../img/icons/flags/ki.svg');
}
.flag-km {
  background-image: url('../img/icons/flags/km.svg');
}
.flag-kn {
  background-image: url('../img/icons/flags/kn.svg');
}
.flag-kp {
  background-image: url('../img/icons/flags/kp.svg');
}
.flag-kr {
  background-image: url('../img/icons/flags/kr.svg');
}
.flag-kw {
  background-image: url('../img/icons/flags/kw.svg');
}
.flag-ky {
  background-image: url('../img/icons/flags/ky.svg');
}
.flag-kz {
  background-image: url('../img/icons/flags/kz.svg');
}
.flag-la {
  background-image: url('../img/icons/flags/la.svg');
}
.flag-lb {
  background-image: url('../img/icons/flags/lb.svg');
}
.flag-lc {
  background-image: url('../img/icons/flags/lc.svg');
}
.flag-li {
  background-image: url('../img/icons/flags/li.svg');
}
.flag-lk {
  background-image: url('../img/icons/flags/lk.svg');
}
.flag-lr {
  background-image: url('../img/icons/flags/lr.svg');
}
.flag-ls {
  background-image: url('../img/icons/flags/ls.svg');
}
.flag-lt {
  background-image: url('../img/icons/flags/lt.svg');
}
.flag-lu {
  background-image: url('../img/icons/flags/lu.svg');
}
.flag-lv {
  background-image: url('../img/icons/flags/lv.svg');
}
.flag-ly {
  background-image: url('../img/icons/flags/ly.svg');
}
.flag-ma {
  background-image: url('../img/icons/flags/ma.svg');
}
.flag-mc {
  background-image: url('../img/icons/flags/mc.svg');
}
.flag-md {
  background-image: url('../img/icons/flags/md.svg');
}
.flag-me {
  background-image: url('../img/icons/flags/me.svg');
}
.flag-mf {
  background-image: url('../img/icons/flags/mf.svg');
}
.flag-mg {
  background-image: url('../img/icons/flags/mg.svg');
}
.flag-mh {
  background-image: url('../img/icons/flags/mh.svg');
}
.flag-mk {
  background-image: url('../img/icons/flags/mk.svg');
}
.flag-ml {
  background-image: url('../img/icons/flags/ml.svg');
}
.flag-mm {
  background-image: url('../img/icons/flags/mm.svg');
}
.flag-mn {
  background-image: url('../img/icons/flags/mn.svg');
}
.flag-mo {
  background-image: url('../img/icons/flags/mo.svg');
}
.flag-mp {
  background-image: url('../img/icons/flags/mp.svg');
}
.flag-mq {
  background-image: url('../img/icons/flags/mq.svg');
}
.flag-mr {
  background-image: url('../img/icons/flags/mr.svg');
}
.flag-ms {
  background-image: url('../img/icons/flags/ms.svg');
}
.flag-mt {
  background-image: url('../img/icons/flags/mt.svg');
}
.flag-mu {
  background-image: url('../img/icons/flags/mu.svg');
}
.flag-mv {
  background-image: url('../img/icons/flags/mv.svg');
}
.flag-mw {
  background-image: url('../img/icons/flags/mw.svg');
}
.flag-mx {
  background-image: url('../img/icons/flags/mx.svg');
}
.flag-my {
  background-image: url('../img/icons/flags/my.svg');
}
.flag-mz {
  background-image: url('../img/icons/flags/mz.svg');
}
.flag-na {
  background-image: url('../img/icons/flags/na.svg');
}
.flag-nc {
  background-image: url('../img/icons/flags/nc.svg');
}
.flag-ne {
  background-image: url('../img/icons/flags/ne.svg');
}
.flag-nf {
  background-image: url('../img/icons/flags/nf.svg');
}
.flag-ng {
  background-image: url('../img/icons/flags/ng.svg');
}
.flag-ni {
  background-image: url('../img/icons/flags/ni.svg');
}
.flag-nl {
  background-image: url('../img/icons/flags/nl.svg');
}
.flag-no {
  background-image: url('../img/icons/flags/no.svg');
}
.flag-np {
  background-image: url('../img/icons/flags/np.svg');
}
.flag-nr {
  background-image: url('../img/icons/flags/nr.svg');
}
.flag-nu {
  background-image: url('../img/icons/flags/nu.svg');
}
.flag-nz {
  background-image: url('../img/icons/flags/nz.svg');
}
.flag-om {
  background-image: url('../img/icons/flags/om.svg');
}
.flag-pa {
  background-image: url('../img/icons/flags/pa.svg');
}
.flag-pe {
  background-image: url('../img/icons/flags/pe.svg');
}
.flag-pf {
  background-image: url('../img/icons/flags/pf.svg');
}
.flag-pg {
  background-image: url('../img/icons/flags/pg.svg');
}
.flag-ph {
  background-image: url('../img/icons/flags/ph.svg');
}
.flag-pk {
  background-image: url('../img/icons/flags/pk.svg');
}
.flag-pl {
  background-image: url('../img/icons/flags/pl.svg');
}
.flag-pm {
  background-image: url('../img/icons/flags/pm.svg');
}
.flag-pn {
  background-image: url('../img/icons/flags/pn.svg');
}
.flag-pr {
  background-image: url('../img/icons/flags/pr.svg');
}
.flag-ps {
  background-image: url('../img/icons/flags/ps.svg');
}
.flag-pt {
  background-image: url('../img/icons/flags/pt.svg');
}
.flag-pw {
  background-image: url('../img/icons/flags/pw.svg');
}
.flag-py {
  background-image: url('../img/icons/flags/py.svg');
}
.flag-qa {
  background-image: url('../img/icons/flags/qa.svg');
}
.flag-re {
  background-image: url('../img/icons/flags/re.svg');
}
.flag-ro {
  background-image: url('../img/icons/flags/ro.svg');
}
.flag-rs {
  background-image: url('../img/icons/flags/rs.svg');
}
.flag-ru {
  background-image: url('../img/icons/flags/ru.svg');
}
.flag-rw {
  background-image: url('../img/icons/flags/rw.svg');
}
.flag-sa {
  background-image: url('../img/icons/flags/sa.svg');
}
.flag-sb {
  background-image: url('../img/icons/flags/sb.svg');
}
.flag-sc {
  background-image: url('../img/icons/flags/sc.svg');
}
.flag-sd {
  background-image: url('../img/icons/flags/sd.svg');
}
.flag-se {
  background-image: url('../img/icons/flags/se.svg');
}
.flag-sg {
  background-image: url('../img/icons/flags/sg.svg');
}
.flag-sh {
  background-image: url('../img/icons/flags/sh.svg');
}
.flag-si {
  background-image: url('../img/icons/flags/si.svg');
}
.flag-sj {
  background-image: url('../img/icons/flags/sj.svg');
}
.flag-sk {
  background-image: url('../img/icons/flags/sk.svg');
}
.flag-sl {
  background-image: url('../img/icons/flags/sl.svg');
}
.flag-sm {
  background-image: url('../img/icons/flags/sm.svg');
}
.flag-sn {
  background-image: url('../img/icons/flags/sn.svg');
}
.flag-so {
  background-image: url('../img/icons/flags/so.svg');
}
.flag-sr {
  background-image: url('../img/icons/flags/sr.svg');
}
.flag-ss {
  background-image: url('../img/icons/flags/ss.svg');
}
.flag-st {
  background-image: url('../img/icons/flags/st.svg');
}
.flag-sv {
  background-image: url('../img/icons/flags/sv.svg');
}
.flag-sx {
  background-image: url('../img/icons/flags/sx.svg');
}
.flag-sy {
  background-image: url('../img/icons/flags/sy.svg');
}
.flag-sz {
  background-image: url('../img/icons/flags/sz.svg');
}
.flag-tc {
  background-image: url('../img/icons/flags/tc.svg');
}
.flag-td {
  background-image: url('../img/icons/flags/td.svg');
}
.flag-tf {
  background-image: url('../img/icons/flags/tf.svg');
}
.flag-tg {
  background-image: url('../img/icons/flags/tg.svg');
}
.flag-th {
  background-image: url('../img/icons/flags/th.svg');
}
.flag-tj {
  background-image: url('../img/icons/flags/tj.svg');
}
.flag-tk {
  background-image: url('../img/icons/flags/tk.svg');
}
.flag-tl {
  background-image: url('../img/icons/flags/tl.svg');
}
.flag-tm {
  background-image: url('../img/icons/flags/tm.svg');
}
.flag-tn {
  background-image: url('../img/icons/flags/tn.svg');
}
.flag-to {
  background-image: url('../img/icons/flags/to.svg');
}
.flag-tr {
  background-image: url('../img/icons/flags/tr.svg');
}
.flag-tt {
  background-image: url('../img/icons/flags/tt.svg');
}
.flag-tv {
  background-image: url('../img/icons/flags/tv.svg');
}
.flag-tw {
  background-image: url('../img/icons/flags/tw.svg');
}
.flag-tz {
  background-image: url('../img/icons/flags/tz.svg');
}
.flag-ua {
  background-image: url('../img/icons/flags/ua.svg');
}
.flag-ug {
  background-image: url('../img/icons/flags/ug.svg');
}
.flag-um {
  background-image: url('../img/icons/flags/um.svg');
}
.flag-un {
  background-image: url('../img/icons/flags/un.svg');
}
.flag-us {
  background-image: url('../img/icons/flags/us.svg');
}
.flag-uy {
  background-image: url('../img/icons/flags/uy.svg');
}
.flag-uz {
  background-image: url('../img/icons/flags/uz.svg');
}
.flag-va {
  background-image: url('../img/icons/flags/va.svg');
}
.flag-vc {
  background-image: url('../img/icons/flags/vc.svg');
}
.flag-ve {
  background-image: url('../img/icons/flags/ve.svg');
}
.flag-vg {
  background-image: url('../img/icons/flags/vg.svg');
}
.flag-vi {
  background-image: url('../img/icons/flags/vi.svg');
}
.flag-vn {
  background-image: url('../img/icons/flags/vn.svg');
}
.flag-vu {
  background-image: url('../img/icons/flags/vu.svg');
}
.flag-wf {
  background-image: url('../img/icons/flags/wf.svg');
}
.flag-ws {
  background-image: url('../img/icons/flags/ws.svg');
}
.flag-ye {
  background-image: url('../img/icons/flags/ye.svg');
}
.flag-yt {
  background-image: url('../img/icons/flags/yt.svg');
}
.flag-za {
  background-image: url('../img/icons/flags/za.svg');
}
.flag-zm {
  background-image: url('../img/icons/flags/zm.svg');
}
.flag-zw {
  background-image: url('../img/icons/flags/zw.svg');
}

