{% extends 'layouts/blog.html.twig' %}

{% set pagetitle = 'title.blog'|trans %}
{% block title pagetitle %}

{% block content %}
	{% if category is defined %}
		<h3 class="category-title">{{'title.post_category'|trans}}: {{ category.name }}</h3>
	{% endif %}

	{% for post in pagination.results %}
		{% include "global/_blog-card.html.twig" with {post: post, showdate: 1} %}
	{% else %}
		<h3>{{'post.no_posts_found'|trans}}</h3>
	{% endfor %}

	{{ include('blog/partials/_pagination.html.twig') }}
{% endblock %}
