{% extends 'layouts/page.html.twig' %}

{% set sectionClass = 'py-4' %}

{% set pagetitle = 'title.generate_password'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "generator_tool": ('title.password_generator_tool'|trans), "current":(pagetitle) }] %}
    {% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="bg-success bg-opacity-10 p-4 p-md-5 rounded-3 text-center h-100">
                <h6>{{ "title.wouhou"|trans }} 🎉</h6>
                <h1 class="fs-1 text-success">{{ password }}</h1>
            </div>
        </div>
    </div>

{% endblock %}
