@import "dropzone.css";

.user-avatar {
    height: 1.5em;
    width: 1.5em;
    object-fit: cover;
    border-radius: 50%;
}

.ratio-1x1 {
    aspect-ratio: 1/1;
}

.ratio-16x9 {
    aspect-ratio: 16/9;
}

.object-fit-cover {
    object-fit: cover;
}

img.ratio-1x1 {
    object-fit: cover;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.media {
    margin-bottom: 1rem;
}

textarea {
    resize: none;
}
