.dropzone-container {
    border: 1px solid var(--bs-gray-300) !important;
    border-radius: 0.375rem !important;
    height: 100%;
    padding: 0 !important;
    overflow: hidden;
}

.dropzone-container .dropzone-preview {
    height: 100%;
    width: 100%;
}

.dropzone-container .dropzone-preview .dropzone-preview-image {
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: cover;
    max-width: unset;
    flex-basis: unset;
}

.dropzone-container .dropzone-preview .dropzone-preview-filename {
    display: none;
}
