{% extends 'layouts/email.html.twig' %}

{% block body %}
    <a href="{{ absolute_url(path('auth_confirm_registration', {registrationToken: user.registrationToken})) }}">
        {{ 'Validate my registration'|trans }}
    </a>
{% endblock %}
