{% extends 'layouts/email.html.twig' %}

{% block body %}
    <span>{{ 'This password reset request expires today at'|trans }} {{ reset_password_request.expiredAt|format_datetime('medium', locale='fr') }}</span>
    <a href="{{ absolute_url(path('auth_reset_password', {token: reset_password_request.token})) }}">{{ 'Reset my password'|trans }}</a>
{% endblock %}
