{% extends 'layouts/blog.html.twig' %}

{% set containerClass = 'pt-0' %}

{% set pagetitle = 'title.comment_error'|trans %}
{% block title pagetitle %}

{% block content %}
	<h1 class="text-danger">{{ pagetitle }}</h1>
	<!-- ======= Comments Form ======= -->
	{{ include('frontend/comment/form.html.twig', { commentForm }) }}
	<!-- End Comments Form -->
{% endblock %}
