{% extends 'layouts/blog.html.twig' %}

{% set containerClass = 'pt-0' %}

{% set pagetitle = 'title.comment_error'|trans %}
{% block title pagetitle %}

{% block content %}
	{# <turbo-stream action="update" target="new-comment-form"> #}
		{# <template> #}
			<h1 class="text-danger">{{ pagetitle }}</h1>
			{{ include('frontend/comment/form.html.twig', { commentForm }) }}
		{# </template> #}
	{# </turbo-stream> #}
{% endblock %}
