{% extends 'layouts/auth.html.twig' %}

{% set pagetitle = 'title.sign_up'|trans %}
{% block title pagetitle %}

{% block content %}
    <h1 class="h3 fw-bold">{{ pagetitle }}</h1>
    <div class="form mt-5">
        {{ component('registration', {class: 'php-email-auth', user: user.id is null ? null : user, form: form}) }}
    </div>
{% endblock %}
