{% extends 'layouts/auth.html.twig' %}

{% set pagetitle = 'title.request_reset_password'|trans %}
{% block title pagetitle %}

{% block content %}
    <h1 class="h3 fw-bold">{{ pagetitle }}</h1>
    <div class="form mt-5">
        {{ component('request_reset_password', {
            class: 'php-email-auth',
            resetPasswordRequest: reset_password_request.id is null ? null : reset_password_request,
            form: form
        }) }}
    </div>
{% endblock %}
