{% extends 'layouts/auth.html.twig' %}

{% set pagetitle = 'title.request_reset_password'|trans %}
{% block title pagetitle %}

{% block content %}
    <h2>{{ pagetitle }}</h2>
    <span></span>
    {{ component('request_reset_password', {
        class: 'mt-4',
        resetPasswordRequest: reset_password_request.id is null ? null : reset_password_request,
        form: form
    }) }}
{% endblock %}
