{% extends 'layouts/auth.html.twig' %}

{% set pagetitle = 'title.reset_password'|trans %}
{% block title pagetitle %}

{% block content %}
    <h1 class="h3 fw-bold">{{ pagetitle }}</h1>
    <div class="form mt-5">
        {{ component('reset_password', {class: 'php-email-auth', user: user, form: form}) }}
    </div>
{% endblock %}
