{% extends 'layouts/dashboard.html.twig' %}

{% set pagetitle = 'title.user_index'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{"dashboard_index": ('title.dashboard'|trans), "current": (pagetitle)}] %}
    {% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    {% include "global/_user_info.html.twig" %}
    <a href="{{ path('dashboard_user_show', {'slug' : user.slug}) }}" class="btn btn-success">{{ 'action.user_show'|trans }}</a>
{% endblock %}
