{% extends "bundles/TwigBundle/Exception/error.html.twig" %}

{% set pagetitle = 'Error 500 - ' ~ 'Error'|trans %}
{% block title pagetitle %}

{% block body %}
    <h1 class="display-5">{{ pagetitle }}</h1>
    <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">
        {{ "An error has occured while processing your request"|trans }}
    </p>
{% endblock %}
