{% extends "bundles/TwigBundle/Exception/error.html.twig" %}

{% set pagetitle = 'Error 405 - ' ~ 'Method Not Supported'|trans %}
{% block title pagetitle %}
{% block body_id 'error' %}

{% block body %}
    <h1 class="display-1 text-primary">{{ pagetitle }}</h1>
    <h2>{{ "The request method is known by the server but is not supported by the target resource"|trans }}</h2>
{% endblock %}
