{% extends "bundles/TwigBundle/Exception/error.html.twig" %}

{% set pagetitle = 'http_error.name'|trans({ 'status_code': 500 }) %}
{% block title pagetitle %}
{% block body_id 'error' %}

{% block body %}
    <h1 class="display-1 text-primary">{{ pagetitle }}</h1>
    <h2>{{ 'http_error_500.description'|trans }}</h2>
    <p>{{ 'http_error_500.suggestion'|trans({ 'url': path('homepage') })|raw }}</p>
{% endblock %}
