{% extends 'layouts/account.html.twig' %}

{#
{% set containerClass = 'flex-grow-1 py-5 pb-xxl-5 mt-5' %}
{% set rowClass = 'pt-sm-2 pt-lg-0' %}
{% set col3Class = 'pe-lg-4 pe-xl-5 mt-n3' %}
{% set col9Class = 'pt-4 pb-2 pb-sm-4' %}
#}
{% set pagetitle = 'title.user_index'|trans %}
{% block title pagetitle %}

{% block content %}
	<h1 class="h3 fw-bold">{{ pagetitle }}</h1>
	{#<div class="card box">
		<div class="card-body">
			<header class="section-heading mb-3">
				<h4 class="title-section float-start">
					<i class="fas fa-calendar-alt"></i>
					Events summary
				</h4>
				<a href="/en/dashboard/administrator/manage-events" class="float-end">
					<i class="fas fa-cog"></i>
					Manage events
				</a>
				<div class="clearfix"></div>
			</header>
			<div class="row mb-3 pl-2 pr-2">
				<div class="col-md-3 col-sm-6 col-12 p-1">
					<div class="bg-primary rounded p-4 text-center text-white position-relative counter-box">
						<i class="fas fa-calendar-alt"></i>
						<h4>33</h4>
						<h5 class="mb-0">Events added</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 p-1">
					<div class="bg-primary rounded p-4 text-center text-white position-relative counter-box">
						<i class="fas fa-calendar-alt"></i>
						<h4>33</h4>
						<h5 class="mb-0">Published events</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 p-1">
					<div class="bg-primary rounded p-4 text-center text-white position-relative counter-box">
						<i class="fas fa-calendar-alt"></i>
						<h4>33</h4>
						<h5 class="mb-0">Upcoming events</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 p-1">
					<div class="bg-primary rounded p-4 text-center text-white position-relative counter-box">
						<i class="fas fa-calendar-alt"></i>
						<h4>13</h4>
						<h5 class="mb-0">Event dates</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="table-responsive">
							<div class="modal fade" id="event-69470be44a-dates">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Camping Trip: Event dates</h4>
											<button type="button" class="close" data-dismiss="modal">×</button>
										</div>
										<div class="modal-body">
											<div>
												<b class="float-left">Mon 28 Aug 2023, 1:00 PM EDT</b>
												<a href="/en/dashboard/administrator/manage-events/camping-trip/event-dates/9bfe5bac47/statistics" class="float-right">View stats</a>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="event-69470be44a-payout-request">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Camping Trip: Payout request</h4>
											<button type="button" class="close" data-dismiss="modal">×</button>
										</div>
										<div class="modal-body">

											<div class="alert alert-info alert-icon">
												<i class="fas fa-exclamation-circle"></i>
												Once the payout request submitted, the event date will be locked and the sales will be suspended for the specific event date. If you wish, you can wait until the start date of the event date before requesting the payout. You can cancel the payout request any time before it is processed</div>
											<hr>

											<div>
												<b class="float-left">Mon 28 Aug 2023, 1:00 PM EDT</b>

												<a href="/en/dashboard/organizer/my-payout-requests/add/9bfe5bac47" class="float-right">
													<i class="fas fa-file-invoice-dollar"></i>
													Request payout</a>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="event-8fa1f4e145-dates">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">DevOps Training and Certification Course: Event dates</h4>
											<button type="button" class="close" data-dismiss="modal">×</button>
										</div>
										<div class="modal-body">
											<div>
												<b class="float-left">Thu 14 Sep 2023, 12:00 PM EDT</b>
												<a href="/en/dashboard/administrator/manage-events/devops-training-and-certification-course/event-dates/e9cd821b4d/statistics" class="float-right">View stats</a>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="event-8fa1f4e145-payout-request">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">DevOps Training and Certification Course: Payout request</h4>
											<button type="button" class="close" data-dismiss="modal">×</button>
										</div>
										<div class="modal-body">

											<div class="alert alert-info alert-icon">
												<i class="fas fa-exclamation-circle"></i>
												Once the payout request submitted, the event date will be locked and the sales will be suspended for the specific event date. If you wish, you can wait until the start date of the event date before requesting the payout. You can cancel the payout request any time before it is processed</div>
											<hr>

											<div>
												<b class="float-left">Thu 14 Sep 2023, 12:00 PM EDT</b>

												<a href="/en/dashboard/organizer/my-payout-requests/add/e9cd821b4d" class="float-right">
													<i class="fas fa-file-invoice-dollar"></i>
													Request payout</a>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="event-eb65fba94a-dates">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Contemporary Art Exposition: Event dates</h4>
											<button type="button" class="close" data-dismiss="modal">×</button>
										</div>
										<div class="modal-body">
											<div>
												<b class="float-left">Fri 15 Sep 2023, 5:00 PM EDT</b>
												<a href="/en/dashboard/administrator/manage-events/contemporary-art-exposition/event-dates/8e69d0d94b/statistics" class="float-right">View stats</a>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="event-eb65fba94a-payout-request">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Contemporary Art Exposition: Payout request</h4>
											<button type="button" class="close" data-dismiss="modal">×</button>
										</div>
										<div class="modal-body">

											<div class="alert alert-info alert-icon">
												<i class="fas fa-exclamation-circle"></i>
												Once the payout request submitted, the event date will be locked and the sales will be suspended for the specific event date. If you wish, you can wait until the start date of the event date before requesting the payout. You can cancel the payout request any time before it is processed</div>
											<hr>

											<div>
												<b class="float-left">Fri 15 Sep 2023, 5:00 PM EDT</b>

												<a href="/en/dashboard/organizer/my-payout-requests/add/8e69d0d94b" class="float-right">
													<i class="fas fa-file-invoice-dollar"></i>
													Request payout</a>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<table class="table table-hover table-vcenter">
								<thead>
									<tr>
										<th style="width:35%;">Event</th>
										<th>Organizer</th>
										<th>Sales</th>
										<th>Status</th>
										<th>Attendance</th>
										<th class="text-center">
											<i class="fas fa-cog"></i>
										</th>
									</tr>
								</thead>
								<tbody>


									<tr>
										<td>
											<a class="fancybox" href="/uploads/events/5f9ebd9f7ebf7217103879.jpg" data-toggle="tooltip" title="" data-original-title="Enlarge">
												<img src="/uploads/events/5f9ebd9f7ebf7217103879.jpg" class="img-thumbnail img-50-50">
											</a>
											<a href="/en/event/camping-trip" data-toggle="tooltip" title="" data-original-title="View event">Camping Trip</a>
											<span class="small text-muted ml-1">#69470be44a</span>
										</td>
										<td>
											<a href="/en/organizer/best-caming-trips" data-toggle="tooltip" title="" data-original-title="View organizer">Best Caming Trips</a>
										</td>
										<td>
											<div class="clearfix">
												<div class="float-left">
													<strong>7%</strong>
												</div>
												<div class="float-right">
													<small class="text-muted">360 ticket(s) sold</small>
												</div>
											</div>
											<div class="progress progress-xs">
												<div class="progress-bar bg-yellow" role="progressbar" style="width: 7%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</td>
										<td>
											<span class="badge badge-success">On sale</span>
										</td>
										<td class="text-center">
											<div class="mx-auto chart-circle chart-circle-xs" data-value="0" data-thickness="3">
												<canvas width="40" height="40"></canvas>
												<div class="chart-circle-value">0%</div>
											</div>
										</td>
										<td class="text-center">
											<div class="item-action dropdown position-static">
												<a href="javascript:void(0)" data-toggle="dropdown" data-boundary="window" class="icon" aria-expanded="false">
													<i class="fas fa-ellipsis-v"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(832px, 85px, 0px); top: 0px; left: 0px; will-change: transform;">
													<span class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#event-69470be44a-dates">
														<i class="dropdown-icon fas fa-chart-line fa-fw text-muted"></i>
														Statistics</span>
													<span data-title="Camping Trip" data-url="/en/dashboard/administrator/manage-events/camping-trip/details" class="dropdown-item ajax-loading">
														<i class="dropdown-icon fas fa-file-alt fa-fw text-muted"></i>
														Details</span>
													<a href="/en/dashboard/administrator/manage-orders?event=camping-trip&amp;status=1" class="dropdown-item">
														<i class="dropdown-icon fas fa-users fa-fw text-muted"></i>
														Attendees</a>
													<a href="/en/dashboard/administrator/manage-reviews?event=camping-trip" class="dropdown-item">
														<i class="dropdown-icon fas fa-star fa-fw text-muted"></i>
														Reviews
													</a>
													<a href="/en/dashboard/administrator/manage-events/camping-trip/delete" class="dropdown-item">
														<i class="dropdown-icon fas fa-times fa-fw text-muted"></i>
														Delete
													</a>
												</div>
											</div>
										</td>
									</tr>


									<tr>
										<td>
											<a class="fancybox" href="/uploads/events/5f9e854ad7a49262808912.jpg" data-toggle="tooltip" title="" data-original-title="Enlarge">
												<img src="/uploads/events/5f9e854ad7a49262808912.jpg" class="img-thumbnail img-50-50">
											</a>
											<a href="/en/event/devops-training-and-certification-course" data-toggle="tooltip" title="" data-original-title="View event">DevOps Training and Certification Course</a>
											<span class="small text-muted ml-1">#8fa1f4e145</span>
										</td>
										<td>
											<a href="/en/organizer/it-training-center" data-toggle="tooltip" title="" data-original-title="View organizer">IT Training Center</a>
										</td>
										<td>
											<div class="clearfix">
												<div class="float-left">
													<strong>41%</strong>
												</div>
												<div class="float-right">
													<small class="text-muted">2055 ticket(s) sold</small>
												</div>
											</div>
											<div class="progress progress-xs">
												<div class="progress-bar bg-yellow" role="progressbar" style="width: 41%" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</td>
										<td>
											<span class="badge badge-success">On sale</span>
										</td>
										<td class="text-center">
											<div class="mx-auto chart-circle chart-circle-xs" data-value="0" data-thickness="3">
												<canvas width="40" height="40"></canvas>
												<div class="chart-circle-value">0%</div>
											</div>
										</td>
										<td class="text-center">
											<div class="item-action dropdown">
												<a href="javascript:void(0)" data-toggle="dropdown" data-boundary="window" class="icon">
													<i class="fas fa-ellipsis-v"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<span class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#event-8fa1f4e145-dates">
														<i class="dropdown-icon fas fa-chart-line fa-fw text-muted"></i>
														Statistics</span>
													<span data-title="DevOps Training and Certification Course" data-url="/en/dashboard/administrator/manage-events/devops-training-and-certification-course/details" class="dropdown-item ajax-loading">
														<i class="dropdown-icon fas fa-file-alt fa-fw text-muted"></i>
														Details</span>
													<a href="/en/dashboard/administrator/manage-orders?event=devops-training-and-certification-course&amp;status=1" class="dropdown-item">
														<i class="dropdown-icon fas fa-users fa-fw text-muted"></i>
														Attendees</a>
													<a href="/en/dashboard/administrator/manage-reviews?event=devops-training-and-certification-course" class="dropdown-item">
														<i class="dropdown-icon fas fa-star fa-fw text-muted"></i>
														Reviews
													</a>
													<a href="/en/dashboard/administrator/manage-events/devops-training-and-certification-course/delete" class="dropdown-item">
														<i class="dropdown-icon fas fa-times fa-fw text-muted"></i>
														Delete
													</a>
												</div>
											</div>
										</td>
									</tr>


									<tr>
										<td>
											<a class="fancybox" href="/uploads/events/5f9ec9ff4a307334616412.jpg" data-toggle="tooltip" title="" data-original-title="Enlarge">
												<img src="/uploads/events/5f9ec9ff4a307334616412.jpg" class="img-thumbnail img-50-50">
											</a>
											<a href="/en/event/contemporary-art-exposition" data-toggle="tooltip" title="" data-original-title="View event">Contemporary Art Exposition</a>
											<span class="small text-muted ml-1">#eb65fba94a</span>
										</td>
										<td>
											<a href="/en/organizer/art-heaven" data-toggle="tooltip" title="" data-original-title="View organizer">Art Heaven</a>
										</td>
										<td>
											<div class="clearfix">
												<div class="float-left">
													<strong>22%</strong>
												</div>
												<div class="float-right">
													<small class="text-muted">1122 ticket(s) sold</small>
												</div>
											</div>
											<div class="progress progress-xs">
												<div class="progress-bar bg-yellow" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</td>
										<td>
											<span class="badge badge-success">On sale</span>
										</td>
										<td class="text-center">
											<div class="mx-auto chart-circle chart-circle-xs" data-value="0" data-thickness="3">
												<canvas width="40" height="40"></canvas>
												<div class="chart-circle-value">0%</div>
											</div>
										</td>
										<td class="text-center">
											<div class="item-action dropdown">
												<a href="javascript:void(0)" data-toggle="dropdown" data-boundary="window" class="icon">
													<i class="fas fa-ellipsis-v"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<span class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#event-eb65fba94a-dates">
														<i class="dropdown-icon fas fa-chart-line fa-fw text-muted"></i>
														Statistics</span>
													<span data-title="Contemporary Art Exposition" data-url="/en/dashboard/administrator/manage-events/contemporary-art-exposition/details" class="dropdown-item ajax-loading">
														<i class="dropdown-icon fas fa-file-alt fa-fw text-muted"></i>
														Details</span>
													<a href="/en/dashboard/administrator/manage-orders?event=contemporary-art-exposition&amp;status=1" class="dropdown-item">
														<i class="dropdown-icon fas fa-users fa-fw text-muted"></i>
														Attendees</a>
													<a href="/en/dashboard/administrator/manage-reviews?event=contemporary-art-exposition" class="dropdown-item">
														<i class="dropdown-icon fas fa-star fa-fw text-muted"></i>
														Reviews
													</a>
													<a href="/en/dashboard/administrator/manage-events/contemporary-art-exposition/delete" class="dropdown-item">
														<i class="dropdown-icon fas fa-times fa-fw text-muted"></i>
														Delete
													</a>
												</div>
											</div>
										</td>
									</tr>


								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>#}
{% endblock %}
