{% extends 'layouts/dashboard.html.twig' %}

{% set pagetitle = 'title.user_index'|trans %}
{% block title pagetitle %}

{% block content %}
	<h1 class="h3 fw-bold">{{ pagetitle }}</h1>

{% endblock %}
