{% extends 'layouts/dashboard.html.twig' %}

{% set pagetitle = 'title.user_update_password'|trans %}
{% block title pagetitle %}

{% block content %}
    <h1 class="h3 fw-bold">{{ pagetitle }}</h1>
    <div class="form">
        <div class="mb-3">
            <div class="row align-items-stretch">
                <div class="col-12 col-sm-12">
                    {% component alert with {type: 'info', class: 'h-100 d-flex align-items-center text-center'} %}
                        {% block content %}
                            {{ "message.change_password"|trans }}
                        {% endblock %}
                    {% endcomponent %}
                </div>
            </div>
        </div>
        {{ component('update_password', {class: 'php-email-auth', user: user, form: form}) }}
    </div>
{% endblock %}
