<ul class="list-inline{% if class is defined %}{{ class }}{% endif %}">
    {% for tag in tags %}
        <li class="list-inline-item">
            <a 
                href="{{ path('blog', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}" 
                class="btn btn-sm btn-{{ tag.name == app.request.query.get('tag') ? 'success' : 'secondary' }}-soft"
            >
                <i class="bi bi-tag"></i>
                {{ tag.name }}
            </a>
        </li>
    {% endfor %}
</ul>

